*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
i{
    font-size: larger;
    color: white;
}
.dropdown-item:hover{
    background-color: whitesmoke;
}
.site-header{
    background-color: black;
    padding: 1rem 0 3rem 0;
    position: sticky;
}
.inicio{
    background-image: url(../img/coca-cola.jpg);
    background-position: center center;
    height:100vh;
    width: 100%;
    background-size: cover;
}
.mas-vendidos h2{
    text-align: center;
    color: red;
    margin: 10px;
}
.mas-vendidos .card{
    display: inline-block;
    margin: 1px 44px ;
}
.productos{
    align-items: center;
}
.pie{
    color: red;
    background-color: white;
    margin: 20px;
}
span{
    font-size: 23px;
}
.wsp{
    background-color: rgb(67, 255, 67);
    padding: 8px ;
    border-radius: 50px;
    color: white;
}
.ig{
    background-color: rgb(255, 94, 94);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.pie{
    display: flex;
    justify-content: space-between;
    
}
.pie .logo-pie{
    margin-left: 39px;
    padding: 5px;
}
.pie i{
    color: red;
}
.pie .redes ul {
    display: flex;
    justify-content: space-around;
}
.pie h3{
    text-align: center;
}
.pie ul li a{
    color: black
}
.pie .newsletter input{
    padding: 7px 15px;
    font-size: 13px;
    border: 1px solid #ff0000;
    line-height: 12px;    
    border-radius: 10px;
}
.pie .newsletter button{
    background-color: #ff0000;
    color: #eae3d9;
    line-height: 15px;
    padding: 8px 18px;
    font-size: 13px;
    border-radius: 10px;
    border: 0px
}
@media (max-width: 1000px){
    .referencias{
        display: none
    }
    .productos{
        text-align: center;
    }
}

.menu{
    margin-top: 11px;

}
i{
    color: rgb(255, 255, 255);
}
.logo{
    text-align: center;
    margin-top: 20px;
}
.carrito{
    text-align: end;
    margin-top: 22px;   
}
.cerveza{
    text-align: center;
}
.gaseosa{
    text-align: center;
}
.vodka{
    text-align: center;
}
.energeticas{
    text-align: center;
}
.pag-productos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.formulario{
    display: flex;
    justify-content: center;
}
.email{
    width: 100%;   
}
.consulta{
    width: 100%;
}
.pie{
    position: relative;
    bottom: 0px;
}