* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body {
    scroll-behavior: smooth;
}
  
  /*header*/
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown .dropdown-item:hover {
    background-color: whitesmoke;
}
  
  i {
    font-size: larger;
    color: white;
  }
  
  .site-header {
    background-color: black;
    padding: 1rem 0 3rem 0;
    position: sticky;
  }
  
  .headerPaginas i {
    color: black;
  }
  
  /*index*/
  .inicio {
    background-image: url(../img/coca-cola.jpg);
    background-position: center center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    
}

.texto-inicio {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px rgb(88, 88, 88);
    text-align: center;
  }
  
  .texto-inicio h1 {
    font-size: 3rem;
  }
  
  .texto-inicio p {
    font-size: 1, 5rem;
  }
  
  .mas-vendidos h2 {
    text-align: center;
    color: red;
    margin: 10px;
  }
  
  .mas-vendidos h2 {
    text-align: center;
    color: red;
    margin: 10px;
  }
  
  .mas-vendidos .card {
    display: inline-block;
    margin: 1px 44px;
  }
  
  .productos {
    align-items: center;
  }
  
  article .btn:hover {
    transform: scale(1.2);
    transition: 200ms;
  }
  
  .menu {
    margin-top: 11px;
  }
  
  i {
    color: rgb(255, 255, 255);
  }
  
  .logo {
    text-align: center;
    margin-top: 20px;
  }
  
  .carrito {
    text-align: end;
    margin-top: 22px;
  }
  
  .cerveza {
    text-align: center;
  }
  
  .gaseosa {
    text-align: center;
  }
  
  .vodka {
    text-align: center;
  }
  
  .energeticas {
    text-align: center;
  }
  
  .pag-productos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }
  
  /*footer*/
  .pie {
    color: red;
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0px;
  }
  .pie .logo-pie {
    margin-left: 39px;
    padding: 5px;
  }
  .pie h3 {
    text-align: center;
  }
  .pie .redes ul {
    display: flex;
    justify-content: space-around;
  }
  .pie ul li a {
    color: black;
  }
  .pie .newsletter input {
    padding: 7px 15px;
    font-size: 13px;
    border: 1px solid #ff0000;
    line-height: 12px;
    border-radius: 10px;
  }
  .pie .newsletter button {
    background-color: #ff0000;
    color: #eae3d9;
    line-height: 15px;
    padding: 8px 18px;
    font-size: 13px;
    border-radius: 10px;
    border: 0px;
  }
  
  span {
    font-size: 23px;
  }
  
  .wsp {
    background-color: rgb(67, 255, 67);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  
  .ig {
    background-color: rgb(255, 94, 94);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  
  .fa {
    background-color: rgb(55, 55, 255);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  /* header paginas */
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  
a {
    text-decoration: none;
  }
  
li {
    list-style: none;
}
  
  /*contacto*/
  .formulario {
    display: flex;
    justify-content: center;
  }
  
  .email {
    width: 100%;
  }
  .consulta {
    width: 100%;
  }
  /*medias*/
  @media screen (min){
    
  }